[submodule "vim/pack/joetest/start/vim-airline"]
	path = vim/pack/joetest/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/joetest/start/vim-airline-themes"]
	path = vim/pack/joetest/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
